<?php

namespace App\Env;

class Env {
  public static $DB_HOST = '{{DB_HOST}}';
  public static $DB_NAME = '{{DB_NAME}}';
  public static $DB_USER = '{{DB_USER}}';
  public static $DB_PASS = '{{DB_PASS}}';
}